.topics_container {
    width: 100%;
    display: grid;
    gap: 100px;
    grid-template-columns: 30% 50%;
    grid-template-rows: 80vh;
    justify-content: center;
    overflow: hidden;
}

.topics_container .tp_table_container {
    width: 100%;
    max-height: 70vh;
}

.topics_container table thead {
    text-align: center;
}

.topics_container table th {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.topics_container table tbody div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    justify-items: center;
    justify-content: center;
}

.topics_container table tbody tr th:nth-of-type(2) {
    max-width: 250px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

@media screen and (max-width: 768px){
    .topics_container{
        grid-template-columns: 90%;
        grid-template-rows: auto;
    }

    .add_topic_container, .edit_topic_container{
        padding: 20px;
        background: linear-gradient(45deg, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
        border-radius: 10px;
        box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (max-width: 425px) {
    .tp_title{
        display: none;
    }
    
    .tp_table_container::before{
        content: "Topics";
        background-color: #343A40;
        display: block;
        color: white;
        font-size: 1.9em;
        padding: 10px 20px;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
    }
    .tp_table_container table, 
    .tp_table_container thead, 
    .tp_table_container tbody, 
    .tp_table_container th, 
    .tp_table_container td, 
    .tp_table_container tr {
        display: block;
    }
    
    .tp_table_container thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .tp_table_container tbody{
        width: 100%;
    }

    .tp_table_container td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 40%;
    }
    .tp_table_container td:before {
        position: absolute;
        top: 10px;
        left: 20px;
        width: 40%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: 500;
    }
    .tp_table_container td:nth-of-type(1):before {
        content: "Id";
    }
    .tp_table_container td:nth-of-type(2):before {
        content: "Name";
    }
    .tp_table_container td:nth-of-type(3):before {
        content: "Actions";
    }
}