.topics_container{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 50%;
    grid-gap: 100px;
}

.topics_container table thead{
    text-align: center;
}

.topics_container table tbody div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,100px);
    justify-items: center;
    justify-content: center;
}