.edit_resource_container{
    width: 40%;
    display: grid;
    grid-gap: 20px;
    padding-top: 0;
    align-content: flex-start;
}

.edit_resource_container form{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100%;
}

.edit_resource_container .dropdown, .edit_resource_container form button{
    justify-self: flex-start;
}

.dropdown-edit-resource{
    display: grid;
}

.edit_resource_container input:placeholder-shown{
    border-left: 4px solid #AB4846;
}

.edit_resource_container input:not(:placeholder-shown){
    border-left: 4px solid #42A948;
}