nav{
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, calc(1/9));
}

nav ul li a{
    text-align: center;
    font-size: 1.1em;
    color: grey;
}

.navbar ul li button{
    outline: none;
    border: none;
    background: transparent;
}

.navbar ul li button:hover{
    filter: opacity(0.8);
}